<div class = room_show>
  <table>
    <tr>
      <th>ルーム名</th>
      <td><%= @room.room_name %></td>
    </tr>
    <tr>
      <th>料金</th>
      <td><%= @room.room_price %></td>
    </tr>
  </table>
  <div>
      <ul>
        <%= link_to "登録済みルーム一覧", rooms_path %>
      </ul>
    </div>
</div> 